@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: goldenrod;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: blanchedalmond;
  color: brown;
}

h1 {
  text-align: center;
}

.total-cases {
  height: 250px;
  width: 400px;
  position: absolute;
  top: 10%;
  left: 15%;
  background-color: green;
}
