* {
  margin: 0;
  padding: 0;
}

html {
  background-color: goldenrod;
}

body {
  height: 100vh;
}

.header { 
  background-color: blanchedalmond;
  color: brown;
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
}
